

#ShowProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.059);
    width: 90%;
    margin: 5%;
    
}
#ShowProduct figure {
    border: 1px solid;
    text-align: center;
    background-color: rgba(124, 196, 235, 0.357);
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.75);
    cursor: pointer;

}
#ShowProduct figure:hover{
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.35);
    transition: 2s;
}


#ShowProduct figure h3 #testOne {
    display: block;
}

#ShowProduct figure h3 #test, #Nu{
    visibility: hidden;
}
#ShowProduct img {
    width: 100%;
    height: 200px;
}
/* #ShowProduct h3 span:hover {
    text-decoration: line-through;
    color: red;
} */
#ShowProduct figure:hover #test {
   visibility: visible;
    transition: 1s;
}
#ShowProduct figure:hover #Nu {
   visibility: visible;
   transition: 1s;
}

#ShowProduct figure:hover #testOne {
    text-decoration: line-through;
    color: red;
    transition: 1s;
}

/* Header design */

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color:  rgba(47, 67, 74, 0.438); */
    margin: 0;

    /* From https://css.glass */
background: rgba(210, 206, 206, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.238);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.35);
}

.header hgroup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header hgroup h2 {
    display: block;
    text-align: right;
}
.header ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.header ul li {
    list-style: none;
    
}
.header ul li a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
}


.header ul li img{
    width: 30px;
}

/* Navigation design */

#navigation{
    /* background-color:  rgba(47, 67, 74, 0.227); */
    background: rgba(210, 206, 206, 0);
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
margin: 0;    
    top: -100px;
    max-width: 100%;
    overflow:hidden;
    
}
#navigation nav{
    margin: 0;
    padding: 0;
    max-width: 100%;
}
#navigation .myDiv{
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgba(81, 48, 15, 0.836);
    width: 80%;
    padding: 12px 6px 0 6px;
    cursor: pointer;
    

    background-color:  rgb(51, 163, 203);
}

#navigation nav ul{
   
    justify-content: center;
    text-align: center;
}

#navigation ul li  {
    text-decoration: none;
    text-align: center;
    color: rgba(81, 48, 15, 0.836);
    margin: 3px 10px 3px 0;
    list-style: none;
    cursor: pointer;
    padding: 6px 6px 0 6px;
    width: 120px;
    height: 30px;
    background-color:  rgb(51, 163, 203);

}

#navigation ul li:hover{
    background-color:  rgb(80, 193, 234);

}
 /* Dropdown style */
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }

  li {
    float: left;
  }

  li a, .dropbtn {
    display: inline-block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color:  rgb(120, 214, 219);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  rgb(120, 214, 219);
    min-width: 160px;
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color:  rgb(74, 216, 223);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }



  /* single product page */
.secondImage {
    max-width: 200px;
}
.productDetails h2, h3{
    color: rgb(124, 52, 52);
}
.productDetails div{
    margin: 30px 20px 0 0;
}

.secondImage img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 20px 0 20px 0;
    border: none;
    background-color: aliceblue;

}
.secondImage img:hover{
    transform: scale(1.2);
}
.secondImage img {
    max-width: 105px;
    max-height: 105px;
    cursor: pointer;
}

.Extra {
    text-align: center;
    margin-left: -100px;
}
.Extra h1{
    font-size: 30px;
    color: rgb(124, 52, 52);
}
.Extra h2 {
    font-size: 20px;
}

.myButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Button Hover Effect */
  .myButton:hover {
    background-color: #45a049;
  }

  /* Footer start here */

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
    background: rgba(210, 206, 206, 0.3);
}

  footer section:nth-child(2) ul {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  footer section:nth-child(2) ul li a{
    color: black;
  }


